# * Global
# ** Settings
{
	# Use ACME staging certificate while testing to not reach
	# certificate issuance attempt rate limit
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory

	# Internal logs
	log {
		level DEBUG
	}

	servers {
		# Work well with requests traveling through proxies.
		# The two settings below are recommended from
		# https://github.com/dani-garcia/vaultwarden/wiki/Proxy-examples.
		#
		# Accept forwarded IPs that originate from a private
		# IP (e.g., loopback, LAN, Podman bridge)
		trusted_proxies static private_ranges
		# When a request comes from a trusted proxy, determine
		# the client IP by reading these headers, in this
		# order
		client_ip_headers X-Forwarded-For X-Real-IP
	}

	# Make the coraza_waf block first in the evaluation order
	order coraza_waf first
}

# ** Snippets

# *** Log files

(service-logs) {
	log {
		output file /data/log/{args[0]}.log {
			roll_size 10MiB
			roll_keep 10
		}
		# More human-readable format
		format console
	}

	log {
		output file /data/log/{args[0]}-json.log {
			roll_size 30MiB
			roll_keep 10
		}
		# More human-readable format
		format json
	}
}

# *** HTTP headers
# Many of these are for the sake of hardening.  Most of such settings
# were taken from
# https://turbocloud.dev/book/web-application-firewall/ and
# https://github.com/dani-garcia/vaultwarden/wiki/Proxy-examples.

# Useful for accurate IP logging.  Use for domains behind a proxy,
# e.g. a VPN like Wireguard
(headers_wireguard) {
	header_up X-Real-IP {remote_host}

	# Caddy by default already handles the X-Forwarded-For,
	# X-Forwarded-Host, and X-Forwarded-Proto headers
	# appropriately
}

(headers_security_global) {
	header {
		# Prevent clickjacking
		X-Frame-Options "DENY"
		# Prevent MIME type sniffing
		X-Content-Type-Options "nosniff"
		# Referrer policy: don't show full URLs when referred
		# to another side
		Referrer-Policy "strict-origin-when-cross-origin"
		# Cross-site scriptin (XSS) protection
		X-XSS-Protection "1; mode=block"
		# Server name removing
		-Server
		# Remove X-Powered-By though this shouldn't be an
		# issue, but better safe than sorry
		-X-Powered-By
	}
}

(headers_security_public) {
	header {
		# Strict Transport Security (HSTS); makes HTTPS
		# mandatory over HTTP.  (Note: Assumes that HTTPS and
		# TLS is working properly.  Will get in the way if TLS
		# isn't working, e.g., during testing)
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	}
}

(headers_security_private) {
	header {
		# Prevent search engines from indexing.  Should be
		# used for private domains that should not be indexed
		X-Robots-Tag "noindex, nofollow"
	}
}

# *** TLS

# DNS-01 ACME verification.  See
# https://caddy.community/t/how-to-use-dns-provider-modules-in-caddy-2/8148
# for Caddy-specific instructions.
#
# NOTE: For this to work, I need a build of Caddy that has the DNS
# module corresponding to my DNS provider.
#
# I use this method of certificate verification because I've
# configured my firewall to geo-block non-US IPs, so automatic the
# typical automatic means of verification fail.
#
# This domain is registered under Namecheap but I've directed
# Namecheap to use Netlify's DNS servers (since I host the domain on
# Netlify), so see the Netlify DNS challenge module for Caddy:
# https://github.com/caddy-dns/netlify.
#
# For Netlify, a personal API token should be used as the personal
# access token
(tls_dns_netlify) {
	tls {
		# Bind mint the access token file and reference the
		# path
		dns netlify {file./run/secrets/netlify-access-token}
	}
}

# *** Coraza (WAF)

(waf) {
	coraza_waf {
		load_owasp_crs
		directives `
		# See
		# https://github.com/corazawaf/coraza/blob/main/coraza.conf-recommended
		Include @coraza.conf-recommended
		# See
		# https://github.com/corazawaf/coraza-coreruleset/blob/main/rules/%40crs-setup.conf.example
		Include @crs-setup.conf.example
		Include @owasp_crs/*.conf

		SecDefaultAction "phase:3,log,auditlog,pass"
		SecDefaultAction "phase:4,log,auditlog,pass"
		SecDefaultAction "phase:5,log,auditlog,pass"
		SecRuleEngine On

		SecAuditEngine RelevantOnly
		SecAuditLog /data/log/coraza-audit.log
		SecAuditLogFormat json

		SecDebugLog /data/log/coraza-debug.log
		SecDebugLogLevel 3
		`
	}
}

# *** MaxMind geo-blocking

(maxmind-us-il) {
	@geo_blocked {
		maxmind_geolocation {
			# See where the geolite2-country-mmdb and
			# geolite2-city-mmdb packages install the
			# databases.  The city database is a superset
			# of the country database
			db_path /var/lib/geoip/GeoLite2-City.mmdb
			allow_countries US
			allow_subdivisions IL
		}
	}
}

# * Domains

# ** Pihole web UI

pihole.home.kristofferbalintona.me {
	reverse_proxy 127.0.0.1:8080
	import tls_dns_netlify

	import headers_security_global
	import headers_security_private

	import maxmind-us-il
	error @geo_blocked 403

	# Only access in local networks
	@external not remote_ip private_ranges
	respond @external 403
}

# ** Copyparty file server

party.home.kristofferbalintona.me {
	reverse_proxy unix//run/copyparty/party.sock
	import tls_dns_netlify

	import maxmind-us-il
	error @geo_blocked 403

	import headers_security_global
	import headers_security_private
}

party.kristofferbalintona.me {
	reverse_proxy unix//run/copyparty/party.sock
	import tls_dns_netlify

	import maxmind-us-il
	error @geo_blocked 403

	import waf

	import headers_security_global
	import headers_security_public

	import service-logs copyparty
}

# ** Goaccess web access log analyzer

goaccess.home.kristofferbalintona.me {
	root * /var/www/goaccess
	file_server
	reverse_proxy /ws 127.0.0.1:7890
	import tls_dns_netlify

	import maxmind-us-il
	error @geo_blocked 403

	import headers_security_global
	import headers_security_private
}

# ** Vaultwarden
# See also
# https://github.com/dani-garcia/vaultwarden/wiki/Proxy-examples for
# using Vaultwarden specifically with Caddy

vault.home.kristofferbalintona.me {
	reverse_proxy 127.0.0.1:7000 {
		import headers_wireguard
	}
	import tls_dns_netlify

	import maxmind-us-il
	error @geo_blocked 403

	import waf

	# Only access admin page in local networks
	@admin {
		path /admin*
		not remote_ip private_ranges
	}
	error @admin 403

	import headers_security_global
	import headers_security_private

	import service-logs vaultwarden
}

# ** Gatus

gatus.home.kristofferbalintona.me {
	reverse_proxy 127.0.0.1:7090
	import tls_dns_netlify

	import maxmind-us-il
	error @geo_blocked 403

	import headers_security_global
	import headers_security_private
}
