{
	# Internal logs
	log {
		level INFO
	}
}

# For local development
localhost {
	tls internal
	reverse_proxy copyparty-server:6969
}

# My domains
party.kristofferbalintona.me, krisbalintona.top, www.krisbalintona.top {
	reverse_proxy copyparty-server:6969
	# Access logs
	log {
		output file /data/log/caddy/access.log {
			roll_size 10MiB
			roll_keep 10
		}
		format console
	}
}
